[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==11.1.0"
python-dotenv = "==0.9.1"
requests = ">=2.20.0"
geojson = "==2.4.0"
flask = "*"
tinydb = "*"

[dev-packages]

[requires]
